.trustpilot_container_trustpilot__1SVy_ {
    height: 85px;
    margin-right: 120px;
    width: 225px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI {
    width: 200px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m {
    width: 30000
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m iframe {
    bottom: 22px !important;
    top: -29px
}

@media screen and (max-width:700px) {
    .trustpilot_container_trustpilot__1SVy_ {
        order: 2;
        width: 100%;
        margin-top: 48px;
        margin-right: 0
    }
}

.capterra_container_capterra__AkH8s {
    width: 185px
}

@media screen and (max-width:700px) {
    .capterra_container_capterra__AkH8s {
        width: 160px
    }
}

.ligthboxVideo_lightbox_quotes___W0fd {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    opacity: 0;
    visibility: hidden
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_background__oGxq8 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 6%, .8);
    opacity: 0;
    transition: opacity .75s ease
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    opacity: 0;
    margin-right: auto;
    margin-left: auto;
    aspect-ratio: 16/9;
    max-height: calc(100vh - 200px);
    max-width: calc(100vw - 50px);
    background-color: #000;
    border-radius: 16px;
    transition: transform .7s cubic-bezier(.36, 1.375, .295, 1), opacity .25s ease
}

@media screen and (min-width:1200px) {
    .ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T {
        width: calc(((64px * 12) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11/12)))
    }
}

@media screen and (min-width:700px)and (max-width:1200px) {
    .ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width:700px) {
    .ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T {
        width: calc(100% - 50px)
    }
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY {
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    height: 50px;
    background-color: #fff;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .25s ease
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY .ligthboxVideo_arrow__ZvAcm {
    margin-right: 6px;
    position: relative;
    width: 10px;
    height: 10px
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY .ligthboxVideo_arrow__ZvAcm .ligthboxVideo_line__vX4LZ {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background-color: #101010;
    transition: background-color .25s ease
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY .ligthboxVideo_arrow__ZvAcm .ligthboxVideo_line__vX4LZ:first-child {
    transform: translate(-50%, -50%) rotate(45deg)
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY .ligthboxVideo_arrow__ZvAcm .ligthboxVideo_line__vX4LZ:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY .ligthboxVideo_text__wzKAH {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    color: #101010;
    transition: color .25s ease
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY:hover {
    border-color: #fff;
    background-color: transparent
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY:hover .ligthboxVideo_arrow__ZvAcm .ligthboxVideo_line__vX4LZ {
    background-color: #fff
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_close__njwrY:hover .ligthboxVideo_text__wzKAH {
    color: #fff
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_content__Y33Oq {
    height: 100%;
    width: 100%
}

.ligthboxVideo_lightbox_quotes___W0fd .ligthboxVideo_container__Dxl2T .ligthboxVideo_content__Y33Oq iframe {
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border: none
}

.ligthboxVideo_lightbox_quotes___W0fd.ligthboxVideo_style_onload__X9Vph {
    display: block
}

.ligthboxVideo_lightbox_quotes___W0fd.ligthboxVideo_style_active__VrM6L {
    transition: visibility .75s ease;
    opacity: 1;
    visibility: visible
}

.ligthboxVideo_lightbox_quotes___W0fd.ligthboxVideo_style_active__VrM6L .ligthboxVideo_background__oGxq8 {
    opacity: 1
}

.ligthboxVideo_lightbox_quotes___W0fd.ligthboxVideo_style_active__VrM6L .ligthboxVideo_container__Dxl2T {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
}

@font-face {
    font-family: Pangea_bold;
    src: url(_next/Pangea-Bold.woff2) format("woff2"), url(_next/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(_next/Pangea-SemiBold.woff2) format("woff2"), url(_next/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(_next/Pangea-Regular.woff2) format("woff2"), url(_next/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(_next/Inter-Bold.woff2) format("woff2"), url(_next/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(_next/Inter-Regular.woff2) format("woff2"), url(_next/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.HomePage_global_container__slfne section:nth-child(4),
.HomePage_global_container__slfne section:nth-child(5) {
    padding-bottom: 120px
}

.HomePage_global_container__slfne section:nth-child(7) {
    padding-top: 120px
}

.HomePage_global_container__slfne section:nth-child(12) {
    margin-bottom: -45px
}

.HomePage_global_container__slfne section:last-of-type {
    padding-bottom: 0
}

.HomePage_section_hero__tZD76 {
    position: relative;
    padding-top: 190px
}

.HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.HomePage_section_hero__tZD76 .HomePage_container_text__QLLhC {
    width: calc(((64px * 7) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (7 - 1))) + calc(1 * calc(40px * 11/12)));
    padding-bottom: 55px;
    margin-left: 130px
}

.HomePage_section_hero__tZD76 .HomePage_ontitle__q9V68 {
    color: #07503e;
    font-family: Inter-Bold, sans-serif
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_ontitle__q9V68 {
        font-size: 18px;
        line-height: 27px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_ontitle__q9V68 {
        font-size: 18px;
        line-height: 27px
    }
}

.HomePage_section_hero__tZD76 h1 {
    font-size: 52px;
    line-height: 58px;
    color: #101010;
    font-family: Pangea_bold;
    line-height: 110%;
    width: 85%
}

.HomePage_section_hero__tZD76 h1 em {
    display: inline-block;
    position: relative;
    color: #fff
}

.HomePage_section_hero__tZD76 h1 em svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 16px);
    height: calc(100% + 8px);
    fill: #07503e
}

.HomePage_section_hero__tZD76 h1 em span {
    position: relative;
    z-index: 1
}

.HomePage_section_hero__tZD76 p {
    width: 85%;
    margin-top: 24px;
    margin-bottom: 34px;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 p {
        font-size: 18px;
        line-height: 27px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 p {
        font-size: 18px;
        line-height: 27px
    }
}

.HomePage_section_hero__tZD76 .HomePage_desc__9P_Uu {
    margin-top: 40px;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_desc__9P_Uu {
        font-size: 18px;
        line-height: 27px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_desc__9P_Uu {
        font-size: 18px;
        line-height: 27px
    }
}

.HomePage_section_hero__tZD76 .HomePage_list__SaaAP {
    margin-top: 40px;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_list__SaaAP {
        font-size: 18px;
        line-height: 27px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_list__SaaAP {
        font-size: 18px;
        line-height: 27px
    }
}

.HomePage_section_hero__tZD76 .HomePage_list_item__wqkCY {
    display: flex;
    align-items: flex-start
}

.HomePage_section_hero__tZD76 .HomePage_list_item__wqkCY svg {
    margin-right: 8px;
    margin-top: 4px
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf {
    display: flex;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 20px
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf.HomePage_true__KP9U3 {
    align-items: baseline
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf.HomePage_undefined__z3_pY {
    align-items: end
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf.HomePage_en-us__2OY9H {
    align-items: center
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_text__6mZhD {
    transition: color .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte {
    margin-right: 8px;
    transition: transform .5s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_rd__L5sJG {
    transition: fill .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_1__wXWTp,
.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_2__i81pV {
    transition: stroke .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte {
    height: 20px
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_text__6mZhD {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 16px;
    line-height: 20.8px
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
        height: 60px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
        height: 50px
    }
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_text__6mZhD {
    color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_rd__L5sJG {
    fill: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_1__wXWTp,
.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_2__i81pV {
    stroke: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW:hover {
    background-color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW:hover .HomePage_btn_text__6mZhD {
    color: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW:hover .HomePage_btn_arrow___VFte .HomePage_btn_arrow_rd__L5sJG {
    fill: #8BC53F
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW:hover .HomePage_btn_arrow___VFte {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o {
    text-decoration: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: transparent;
    border: 1px solid #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_text__6mZhD {
    transition: color .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow___VFte {
    margin-right: 8px;
    transition: transform .5s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow___VFte .HomePage_btn_arrow_rd__L5sJG {
    transition: fill .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_1__wXWTp,
.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow___VFte .HomePage_btn_arrow_st_2__i81pV {
    transition: stroke .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow___VFte {
    height: 20px
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_text__6mZhD {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 16px;
    line-height: 20.8px
}

@media screen and (min-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o {
        height: 60px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o {
        height: 50px
    }
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_text__6mZhD {
    color: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o:hover {
    border-color: #101010;
    background-color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o:hover .HomePage_btn_text__6mZhD {
    color: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o:hover .HomePage_btn_arrow___VFte {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_text__6mZhD {
    color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow_rd__L5sJG {
    fill: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow_st_1__wXWTp,
.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW.HomePage_second__04a_o .HomePage_btn_arrow_st_2__i81pV {
    stroke: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 8px
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS svg {
    width: 20px;
    transition: transform .5s cubic-bezier(.355, 1.325, .295, 1)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS .HomePage_btn_text__6mZhD span {
    transition: transform .5s cubic-bezier(.355, 1.325, .295, 1)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS .HomePage_btn_text__6mZhD:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS:hover .HomePage_btn_text__6mZhD span {
    transform: translateY(-4px)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS:hover .HomePage_btn_text__6mZhD:after {
    transition: transform .5s cubic-bezier(.355, 1.325, .295, 1);
    transform: scaleX(1)
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS svg .HomePage_btn_play_rd__PNVsU {
    fill: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS svg .HomePage_btn_play_icn__HPxDp {
    fill: #fff
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS .HomePage_btn_text__6mZhD {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn_play__2sFmS .HomePage_btn_text__6mZhD:after {
    background-color: #101010
}

.HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_container_truspilot__lJKco {
    margin-right: -120px;
    margin-top: 17px;
    margin-left: -4px
}

.HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 32px
}

.HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO {
    scale: .8;
    -webkit-transform-origin-x: 0
}

.HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO :first-child {
    margin-right: 0
}

.HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC {
    flex: 1 1;
    align-self: flex-start;
    cursor: pointer;
    margin-right: calc(((64px * 0) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (0 - 1))) + calc(2 * calc(40px * 11/12)));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC:hover svg {
    filter: invert(.5);
    transition: all .25s ease
}

.HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC img {
    position: relative;
    z-index: 2;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC .HomePage_background__tCYUd {
    z-index: -1;
    background-color: #07503e;
    position: absolute;
    right: 0;
    top: -190px;
    border-radius: 0 0 0 80px;
    height: 90%;
    width: calc((92vw - 1196px)/2 + 425px)
}

.HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC svg {
    z-index: 2;
    position: absolute
}

@media screen and (max-width:1542px) {
    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC .HomePage_background__tCYUd {
        height: calc(100% + 190px);
        width: calc((100vw - 1196px)/2 + 425px)
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC img {
        width: unset
    }
}

@media screen and (min-width:700px)and (max-width:1200px)and (orientation:portrait) {
    .HomePage_section_hero__tZD76 {
        padding-bottom: 0
    }

    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        flex-direction: column;
        align-items: flex-start
    }

    .HomePage_section_hero__tZD76 .HomePage_container_text__QLLhC {
        width: 100%;
        padding-bottom: 72px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC {
        position: relative;
        margin-left: -50px;
        padding-top: 72px;
        padding-bottom: 40px;
        width: calc(100% + 100px)
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC .HomePage_background__tCYUd {
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 0 0 0 32px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf {
        flex-direction: column;
        align-items: center
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
        width: 100%;
        justify-content: center
    }
}

@media screen and (max-width:1200px)and (orientation:landscape) {
    .HomePage_section_hero__tZD76 {
        padding-bottom: 0;
        padding-top: 140px
    }

    .HomePage_section_hero__tZD76 h1 {
        color: #101010;
        font-family: Pangea_bold, sans-serif
    }
}

@media screen and (max-width:1200px)and (orientation:landscape)and (min-width:700px) {
    .HomePage_section_hero__tZD76 h1 {
        font-size: 52px;
        line-height: 57.2px
    }
}

@media screen and (max-width:1200px)and (orientation:landscape)and (max-width:700px) {
    .HomePage_section_hero__tZD76 h1 {
        font-size: 32px;
        line-height: 35.2px
    }
}

@media screen and (max-width:1200px)and (orientation:landscape) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        align-items: flex-start
    }
}

@media screen and (max-width:1200px)and (orientation:landscape)and (min-width:1200px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(((64px * 12) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11/12)))
    }
}

@media screen and (max-width:1200px)and (orientation:landscape)and (min-width:700px)and (max-width:1200px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width:1200px)and (orientation:landscape)and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(100% - 50px)
    }
}

@media screen and (max-width:1200px)and (orientation:landscape) {
    .HomePage_section_hero__tZD76 .HomePage_container_text__QLLhC {
        margin-left: unset;
        width: 100%;
        padding-bottom: 72px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC {
        position: relative;
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC img {
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC .HomePage_background__tCYUd {
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
        display: none;
        border-radius: 0 0 0 32px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC svg {
        display: block;
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH {
        margin-top: 60px;
        align-items: center;
        gap: 32px;
        flex-direction: row
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO {
        width: 160px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO :first-child {
        margin-top: -21px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf {
        flex-direction: column;
        align-items: center !important;
        margin-bottom: 0
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
        width: 100%;
        justify-content: center
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 {
        padding-bottom: 0;
        padding-top: 140px
    }

    .HomePage_section_hero__tZD76 h1 {
        color: #101010;
        font-family: Pangea_bold, sans-serif
    }
}

@media screen and (max-width:700px)and (min-width:700px) {
    .HomePage_section_hero__tZD76 h1 {
        font-size: 52px;
        line-height: 57.2px
    }
}

@media screen and (max-width:700px)and (max-width:700px) {
    .HomePage_section_hero__tZD76 h1 {
        font-size: 32px;
        line-height: 35.2px
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        align-items: flex-start
    }
}

@media screen and (max-width:700px)and (min-width:1200px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(((64px * 12) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11/12)))
    }
}

@media screen and (max-width:700px)and (min-width:700px)and (max-width:1200px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width:700px)and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_wrapper__xaOiy {
        width: calc(100% - 50px)
    }
}

@media screen and (max-width:700px) {
    .HomePage_section_hero__tZD76 .HomePage_container_text__QLLhC {
        margin-left: unset;
        width: 100%;
        padding-bottom: 32px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC {
        position: relative;
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC img {
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC .HomePage_background__tCYUd {
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
        display: none;
        border-radius: 0 0 0 32px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_img__cDKVC svg {
        display: block;
        width: 100%
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH {
        margin-top: 32px;
        align-items: baseline;
        gap: 32px;
        flex-direction: row-reverse;
        justify-content: space-between
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO {
        width: 120px;
        scale: .7
    }

    .HomePage_section_hero__tZD76 .HomePage_container_rating__AyIGH .HomePage_container_trustpilot__PLWtO :first-child {
        margin-top: -21px
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf {
        flex-direction: column;
        align-items: center !important;
        margin-bottom: 0
    }

    .HomePage_section_hero__tZD76 .HomePage_container_btn__ZQvVf .HomePage_btn__GFfeW {
        width: 100%;
        justify-content: center
    }
}