@font-face {
    font-family: Pangea_bold;
    src: url(_next/Pangea-Bold.woff2) format("woff2"), url(_next/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(_next/Pangea-SemiBold.woff2) format("woff2"), url(_next/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(_next/Pangea-Regular.woff2) format("woff2"), url(_next/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(_next/Inter-Bold.woff2) format("woff2"), url(_next/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(_next/Inter-Regular.woff2) format("woff2"), url(_next/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.style_section_sep__kEawk .style_sep__ApSNF {
    height: 4px;
    width: calc(((64px * 2) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (2 - 1))) + calc(0 * calc(40px * 11 / 12)));
    margin: auto;
    background-color: #f2f2f2
}

.style_section_sep__kEawk.style_style_black__eRtvR {
    background-color: #101010
}

.style_section_sep__kEawk.style_style_black__eRtvR .style_sep__ApSNF {
    background-color: hsla(0, 0%, 95%, .2)
}