.trustpilot_container_trustpilot__1SVy_ {
    height: 85px;
    margin-right: 120px;
    width: 225px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI {
    width: 200px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m {
    width: 30000
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m iframe {
    bottom: 22px!important;
    top: -29px
}

@media screen and (max-width:700px) {
    .trustpilot_container_trustpilot__1SVy_ {
        order: 2;
        width: 100%;
        margin-top: 48px;
        margin-right: 0
    }
}

@font-face {
    font-family: Pangea_bold;
    src: url(_next/Pangea-Bold.woff2) format("woff2"), url(_next/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(_next/Pangea-SemiBold.woff2) format("woff2"), url(_next/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(_next/Pangea-Regular.woff2) format("woff2"), url(_next/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(_next/Inter-Bold.woff2) format("woff2"), url(_next/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(_next/Inter-Regular.woff2) format("woff2"), url(_next/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.capterra_container_capterra__AkH8s {
    width: 185px
}

@media screen and (max-width:700px) {
    .capterra_container_capterra__AkH8s {
        width: 160px
    }
}