.capterra_container_capterra__AkH8s {
    width: 185px
}

@media screen and (max-width:700px) {
    .capterra_container_capterra__AkH8s {
        width: 160px
    }
}

.trustpilot_container_trustpilot__1SVy_ {
    height: 85px;
    margin-right: 120px;
    width: 225px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI {
    width: 200px
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m {
    width: 30000
}

.trustpilot_container_trustpilot__1SVy_ .trustpilot_trustpilot_widget__5joLI.trustpilot_true__6f52m iframe {
    bottom: 22px!important;
    top: -29px
}

@media screen and (max-width:700px) {
    .trustpilot_container_trustpilot__1SVy_ {
        order: 2;
        width: 100%;
        margin-top: 48px;
        margin-right: 0
    }
}

@font-face {
    font-family: Pangea_bold;
    src: url(_next/Pangea-Bold.woff2) format("woff2"), url(_next/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(_next/Pangea-SemiBold.woff2) format("woff2"), url(_next/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(_next/Pangea-Regular.woff2) format("woff2"), url(_next/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(_next/Inter-Bold.woff2) format("woff2"), url(_next/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(_next/Inter-Regular.woff2) format("woff2"), url(_next/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.footer_footer__u526u {
    margin-top: 120px;
    padding: 92px 0 0;
    background-color: #fafafa
}

.footer_footer__u526u .footer_wrapper__JB1ZO {
    margin-right: auto;
    margin-left: auto
}

@media screen and (min-width:1200px) {
    .footer_footer__u526u .footer_wrapper__JB1ZO {
        width: calc(((64px * 12) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11/12)))
    }
}

@media screen and (min-width:700px)and (max-width:1200px) {
    .footer_footer__u526u .footer_wrapper__JB1ZO {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_wrapper__JB1ZO {
        width: calc(100% - 50px)
    }
}

.footer_footer__u526u .footer_container__p_rUh {
    display: flex;
    justify-content: space-between
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR {
    width: 230px;
    flex: 0 0 25%
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR img {
    height: 42px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR p {
    margin-top: 16px;
    color: #434649;
    font-family: Inter-Regular, sans-serif;
    line-height: 16px!important;
    font-size: 12px!important;
    max-width: 230px
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR p {
        font-size: 14px;
        line-height: 21px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR p {
        font-size: 14px;
        line-height: 21px
    }
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE {
    margin-top: 22px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_text__WXFvO {
    transition: color .25s ease
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz {
    margin-right: 8px;
    transition: transform .5s ease
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_rd__IPOzr {
    transition: fill .25s ease
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_st_1__gBXfC,
.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_st_2__TuU9w {
    transition: stroke .25s ease
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz {
    height: 20px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_text__WXFvO {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE {
        height: 50px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE {
        height: 40px
    }
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_text__WXFvO {
    color: #101010
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_rd__IPOzr {
    fill: #101010
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_st_1__gBXfC,
.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE .footer_btn_arrow__b9PAz .footer_btn_arrow_st_2__TuU9w {
    stroke: #fff
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE:hover {
    background-color: #101010
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE:hover .footer_btn_text__WXFvO {
    color: #fff
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE:hover .footer_btn_arrow__b9PAz .footer_btn_arrow_rd__IPOzr {
    fill: #8BC53F
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR .footer_demo__if9SE:hover .footer_btn_arrow__b9PAz {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links_secteur__fJhLs ul {
    -moz-columns: 2;
    column-count: 2
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 {
    flex: 0 0 20%
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4.footer_mobile__VccSO {
    display: none;
    background: unset;
    margin-top: 0;
    gap: 6px;
    justify-content: flex-start
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4.footer_mobile__VccSO:before {
    display: none
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4.footer_mobile__VccSO h3 {
    margin-bottom: unset
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4:nth-child(3) {
    flex: 0 0 20%!important;
    margin-bottom: 40px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 h3 {
    color: #101010;
    font-family: Pangea_bold, sans-serif;
    margin-bottom: 16px
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 h3 {
        font-size: 18px;
        line-height: 19.8px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 h3 {
        font-size: 16px;
        line-height: 20.8px
    }
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul {
    list-style: none
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul li:not(:last-child) {
    margin-bottom: 8px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul li a {
    text-decoration: none;
    color: #101010;
    font-family: Inter-Regular, sans-serif;
    display: flex;
    align-items: center
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul li a {
        font-size: 14px;
        line-height: 21px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul li a {
        font-size: 14px;
        line-height: 21px
    }
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 ul li a span {
    color: #8BC53F;
    border: 1px solid #8BC53F;
    padding: 0 8px;
    margin-left: 12px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ {
    flex: 0 0 25%;
    width: 230px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ {
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    gap: 32px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ .footer_container_trustpilot__Pfsse {
    scale: .8;
    margin-left: 10px;
    -webkit-transform-origin-x: 0
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ .footer_container_trustpilot__Pfsse :first-child {
    margin-right: 0
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_certified__xBJwz {
    display: flex;
    gap: 36px;
    row-gap: 12px;
    flex-wrap: wrap
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_certified__xBJwz img {
    -o-object-fit: contain;
    object-fit: contain
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY {
    flex: 0 0 20%;
    width: 214px;
    padding: 40px 30px;
    position: relative;
    border-radius: 24px;
    background-color: #8BC53F;
    height: -moz-min-content;
    height: min-content
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY .footer_obj__Uqh0T {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 70px
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY h3 {
    color: #fff;
    font-family: Pangea_bold, sans-serif;
    margin-bottom: 23px
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY h3 {
        font-size: 28px;
        line-height: 30.8px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY h3 {
        font-size: 22px;
        line-height: 28.6px
    }
}

.footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY p {
    color: #fff;
    font-family: Inter-Regular, sans-serif;
    opacity: .8
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY p {
        font-size: 14px;
        line-height: 21px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY p {
        font-size: 14px;
        line-height: 21px
    }
}

.footer_footer__u526u .footer_container_rs__pTEK1 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px
}

.footer_footer__u526u .footer_container_rs__pTEK1 a {
    width: 24px
}

.footer_footer__u526u .footer_container_rs__pTEK1 a img {
    width: 100%
}

.footer_footer__u526u .footer_cities_container__4hjUB {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_cities_container__4hjUB {
        font-size: 14px;
        line-height: 21px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_cities_container__4hjUB {
        font-size: 14px;
        line-height: 21px
    }
}

.footer_footer__u526u .footer_foot__V5mPH {
    margin-top: 40px;
    border-top: 1px solid #cdced0;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer_footer__u526u .footer_foot__V5mPH p {
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH p {
        font-size: 11px;
        line-height: 16.5px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH p {
        font-size: 11px;
        line-height: 16.5px
    }
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ {
    display: flex
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ a {
    text-decoration: none;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ a {
        font-size: 11px;
        line-height: 16.5px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ a {
        font-size: 11px;
        line-height: 16.5px
    }
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ a:not(:last-child) {
    margin-right: 42px
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 {
    display: flex;
    align-items: center
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 p {
    text-decoration: none;
    color: #434649;
    font-family: Inter-Regular, sans-serif
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 p {
        font-size: 11px;
        line-height: 16.5px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 p {
        font-size: 11px;
        line-height: 16.5px
    }
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 select {
    background-color: inherit;
    border: 0;
    outline: none;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 4px;
    color: #434649;
    font-family: Inter-Bold, sans-serif
}

.footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 select:hover {
    cursor: pointer
}

@media screen and (min-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 select {
        font-size: 11px;
        line-height: 16.5px
    }
}

@media screen and (max-width:700px) {
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ .footer_locale_switcher__ZAUN2 select {
        font-size: 11px;
        line-height: 16.5px
    }
}

.footer_footer__u526u.footer_style_nomargin__SlL1P {
    margin-top: 0
}

@media screen and (max-width:700px) {
    .footer_footer__u526u {
        margin-top: 72px;
        padding: 72px 0
    }
    .footer_footer__u526u .footer_container__p_rUh {
        flex-direction: column
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_text__y_NrR {
        width: 100%;
        margin-bottom: 40px
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_ancd__vPwqY {
        width: 100%;
        order: 2
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4 {
        display: none
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_links__KPvE4.footer_mobile__VccSO {
        display: block
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ {
        order: 1;
        margin-bottom: 64px;
        width: 100%
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_certified__xBJwz {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_certified__xBJwz a {
        -o-object-fit: contain;
        object-fit: contain;
        width: 14%
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ {
        margin-top: 32px;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ div {
        flex-basis: 45%
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ .footer_container_trustpilot__Pfsse {
        width: 120px;
        scale: .7;
        margin-left: unset
    }
    .footer_footer__u526u .footer_container__p_rUh .footer_container_s__1UGb_ .footer_container_rating__qU9K_ .footer_container_trustpilot__Pfsse :first-child {
        margin-top: -21px
    }
    .footer_footer__u526u .footer_foot__V5mPH {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        white-space: nowrap;
        padding-top: 30px;
        height: unset
    }
    .footer_footer__u526u .footer_foot__V5mPH p {
        min-width: 200px
    }
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ {
        flex-direction: column-reverse;
        gap: 10px
    }
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ a {
        margin-right: unset!important;
        min-width: 200px
    }
    .footer_footer__u526u .footer_foot__V5mPH .footer_container_link__sZCAQ p {
        min-width: 0!important
    }
}