.style_section_ri__Eezqb .style_wrapper__gSWZ2 {
    width: 100%
}

.style_section_ri__Eezqb .style_container__1Gbh5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px calc(((64px * 2) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (2 - 1))) + calc(1 * calc(40px * 11 / 12))) 120px calc(((64px * 2) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (2 - 1))) + calc(0 * calc(40px * 11 / 12)));
    background-color: #353c3b
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_img__6Rhhg {
    width: 50%;
    position: relative
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_img__6Rhhg .style_img_1__FyJBs {
    width: 100%;
    transform: unset !important;
    height: auto
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_img__6Rhhg .style_img_obj__fHZJ6 {
    position: absolute;
    width: 120px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(-10deg)
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 {
    flex: 1 1;
    padding-left: calc(((64px * .5) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (.5 - 1))) + calc(1 * calc(40px * 11 / 12)))
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 h2 {
    color: #fff;
    font-family: Pangea_bold, sans-serif;
    max-width: 500px
}

@media screen and (min-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 h2 {
        font-size: 42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 h2 {
        font-size: 26px;
        line-height: 28.6px
    }
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 p {
    margin-top: 40px;
    color: #fff;
    font-family: Inter-Regular, sans-serif;
    opacity: .8;
    max-width: 400px
}

@media screen and (min-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 p {
        font-size: 16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 p {
        font-size: 16px;
        line-height: 24px
    }
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI {
    margin-top: 40px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_text__PQjfw {
    transition: color .25s ease
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam {
    margin-right: 8px;
    transition: transform .5s ease
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_rd__qqe8X {
    transition: fill .25s ease
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_st_1__s8M7k,
.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_st_2__j5bwP {
    transition: stroke .25s ease
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam {
    height: 20px
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_text__PQjfw {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px
}

@media screen and (min-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI {
        height: 50px
    }
}

@media screen and (max-width: 700px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI {
        height: 40px
    }
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_text__PQjfw {
    color: #101010
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_rd__qqe8X {
    fill: #101010
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_st_1__s8M7k,
.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI .style_btn_arrow__7dpam .style_btn_arrow_st_2__j5bwP {
    stroke: #fff
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI:hover {
    background-color: #101010
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI:hover .style_btn_text__PQjfw {
    color: #fff
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI:hover .style_btn_arrow__7dpam .style_btn_arrow_rd__qqe8X {
    fill: #8BC53F
}

.style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 .style_btn__JwdmI:hover .style_btn_arrow__7dpam {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

@media screen and (max-width: 1200px) {
    .style_section_ri__Eezqb .style_container__1Gbh5 {
        padding-left: 0 !important;
        padding-right: 0 !important;
        flex-direction: column-reverse
    }

    .style_section_ri__Eezqb .style_container__1Gbh5 .style_img__6Rhhg {
        width: 80%
    }

    .style_section_ri__Eezqb .style_container__1Gbh5 .style_text__UjYQ1 {
        width: 80%;
        padding-left: 0 !important
    }
}

.style_section_gs_col__eHPzN {
    margin-bottom: -120px
}

.style_section_gs_col__eHPzN .style_wrapper__BCYMX {
    width: 100%
}

.style_section_gs_col__eHPzN .style_container__rxImG {
    width: 100%;
    background-color: #101010;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 120px calc(((64px * 1) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (1 - 1))) + calc(1 * calc(40px * 11 / 12))) 120px calc(((64px * 1) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (1 - 1))) + calc(0 * calc(40px * 11 / 12)))
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt {
    position: relative;
    width: 100%;
    top: 75px
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt .style_img_1__RmqFa {
    position: absolute;
    width: 200px;
    height: auto;
    right: 75%
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt .style_img_obj__dFAL2 {
    position: absolute;
    width: 120px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(-10deg)
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 {
    width: 50%;
    text-align: center
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 h2 {
    color: #fff;
    font-family: Pangea_bold, sans-serif;
    margin-bottom: 40px
}

@media screen and (min-width: 700px) {
    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 h2 {
        font-size: 42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 h2 {
        font-size: 26px;
        line-height: 28.6px
    }
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 p {
    color: #fff;
    font-family: Inter-Regular, sans-serif;
    opacity: .8;
    margin-bottom: 40px !important;
    width: 70%;
    margin: auto
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e {
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_text__SZNy8 {
    transition: color .25s ease
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN {
    margin-right: 8px;
    transition: transform .5s ease
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_rd__Wlc02 {
    transition: fill .25s ease
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_st_1__MkLC7,
.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_st_2__SyvO2 {
    transition: stroke .25s ease
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN {
    height: 20px
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_text__SZNy8 {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px
}

@media screen and (min-width: 700px) {
    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e {
        height: 50px
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e {
        height: 40px
    }
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_text__SZNy8 {
    color: #101010
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_rd__Wlc02 {
    fill: #101010
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_st_1__MkLC7,
.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e .style_btn_arrow__ieSYN .style_btn_arrow_st_2__SyvO2 {
    stroke: #fff
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e:hover {
    background-color: #101010
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e:hover .style_btn_text__SZNy8 {
    color: #fff
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e:hover .style_btn_arrow__ieSYN .style_btn_arrow_rd__Wlc02 {
    fill: #8BC53F
}

.style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e:hover .style_btn_arrow__ieSYN {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

@media screen and (max-width: 1200px) {
    .style_section_gs_col__eHPzN .style_container__rxImG {
        padding: 80px 25px 0
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt .style_img_1__RmqFa {
        width: 160px;
        right: 80%
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 {
        width: 70%;
        padding-bottom: 80px
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e {
        width: 100%;
        justify-content: center
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs_col__eHPzN {
        margin-bottom: -72px
    }

    .style_section_gs_col__eHPzN .style_container__rxImG {
        padding: 80px 25px 0;
        width: 100% !important
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt {
        height: 100%;
        display: flex;
        align-items: flex-end;
        top: -25px !important
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_img__88FPt .style_img_1__RmqFa {
        width: 100px !important;
        right: unset !important;
        height: auto
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 {
        width: 100% !important;
        padding-bottom: 80px
    }

    .style_section_gs_col__eHPzN .style_container__rxImG .style_text__vc3X2 .style_btn__GxZ3e {
        width: 100%;
        justify-content: center
    }
}

.style_section_gs__cOsSq .style_wrapper__fc5q5 {
    width: 100%
}

.style_section_gs__cOsSq .style_container__rt15z {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px calc(((64px * 2) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (2 - 1))) + calc(1 * calc(40px * 11 / 12))) 120px calc(((64px * 2) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (2 - 1))) + calc(0 * calc(40px * 11 / 12)));
    border-radius: 58px
}

.style_section_gs__cOsSq .style_container__rt15z .style_img__9eC6p {
    width: 50% !important;
    position: relative
}

.style_section_gs__cOsSq .style_container__rt15z .style_img__9eC6p .style_img_1__3mKew {
    width: 100%;
    transform: unset !important;
    height: auto
}

.style_section_gs__cOsSq .style_container__rt15z .style_img__9eC6p .style_img_obj__GSiDX {
    position: absolute;
    width: 120px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(-10deg)
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP {
    flex: 1 1;
    padding-left: calc(((64px * .5) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (.5 - 1))) + calc(1 * calc(40px * 11 / 12)))
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP h2 {
    color: #101010;
    font-family: Pangea_bold, sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP h2 {
        font-size: 42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP h2 {
        font-size: 26px;
        line-height: 28.6px
    }
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP p {
    margin-top: 40px;
    color: #101010;
    font-family: Inter-Regular, sans-serif;
    opacity: .8
}

@media screen and (min-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP p {
        font-size: 16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP p {
        font-size: 16px;
        line-height: 24px
    }
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH {
    margin-top: 40px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_text__5SUv7 {
    transition: color .25s ease
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf {
    margin-right: 8px;
    transition: transform .5s ease
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_rd__OynGI {
    transition: fill .25s ease
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_st_1___pUgP,
.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_st_2__I5TaL {
    transition: stroke .25s ease
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf {
    height: 20px
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_text__5SUv7 {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px
}

@media screen and (min-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH {
        height: 50px
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH {
        height: 40px
    }
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_text__5SUv7 {
    color: #101010
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_rd__OynGI {
    fill: #101010
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_st_1___pUgP,
.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH .style_btn_arrow__904sf .style_btn_arrow_st_2__I5TaL {
    stroke: #fff
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH:hover {
    background-color: #101010
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH:hover .style_btn_text__5SUv7 {
    color: #fff
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH:hover .style_btn_arrow__904sf .style_btn_arrow_rd__OynGI {
    fill: #8BC53F
}

.style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH:hover .style_btn_arrow__904sf {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

@media screen and (max-width: 1200px) {
    .style_section_gs__cOsSq .style_wrapper__fc5q5 .style_container__rt15z {
        padding: 80px 25px;
        flex-direction: column;
        border-radius: 32px;
        width: 70%;
        margin: auto
    }

    .style_section_gs__cOsSq .style_wrapper__fc5q5 .style_container__rt15z .style_img__9eC6p {
        width: 100% !important
    }

    .style_section_gs__cOsSq .style_wrapper__fc5q5 .style_container__rt15z .style_img__9eC6p .style_img_obj__GSiDX {
        width: 80px;
        left: 25px
    }

    .style_section_gs__cOsSq .style_wrapper__fc5q5 .style_container__rt15z .style_text__aDnCP {
        padding: 10px !important;
        margin-top: 20px
    }

    .style_section_gs__cOsSq .style_wrapper__fc5q5 .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH {
        width: 100%;
        justify-content: center
    }
}

@media screen and (max-width: 700px) {
    .style_section_gs__cOsSq .style_container__rt15z {
        flex-direction: column;
        border-radius: 32px;
        width: 100% !important
    }

    .style_section_gs__cOsSq .style_container__rt15z .style_img__9eC6p {
        width: 100%
    }

    .style_section_gs__cOsSq .style_container__rt15z .style_img__9eC6p .style_img_obj__GSiDX {
        width: 80px;
        left: 25px
    }

    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP {
        padding: 10px !important
    }

    .style_section_gs__cOsSq .style_container__rt15z .style_text__aDnCP .style_btn__xA9jH {
        width: 100%;
        justify-content: center
    }
}

@font-face {
    font-family: Pangea_bold;
    src: url(/fonts/Pangea-Bold.woff2) format("woff2"), url(/fonts/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(/fonts/Pangea-SemiBold.woff2) format("woff2"), url(/fonts/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(/fonts/Pangea-Regular.woff2) format("woff2"), url(/fonts/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(/fonts/Inter-Bold.woff2) format("woff2"), url(/fonts/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(/fonts/Inter-Regular.woff2) format("woff2"), url(/fonts/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.style_section_with_title___Q630 {
    padding: 120px 0 20px;
    background: #07503e
}

.style_section_with_title___Q630 .style_wrapper__wabmw {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media screen and (min-width: 1200px) {
    .style_section_with_title___Q630 .style_wrapper__wabmw {
        width: calc(((64px * 12) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11 / 12)))
    }
}

@media screen and (min-width: 700px)and (max-width:1200px) {
    .style_section_with_title___Q630 .style_wrapper__wabmw {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 .style_wrapper__wabmw {
        width: calc(100% - 50px)
    }
}

.style_section_with_title___Q630 h2 {
    text-align: center;
    color: #fff;
    font-family: Pangea_bold, sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_with_title___Q630 h2 {
        font-size: 42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 h2 {
        font-size: 26px;
        line-height: 28.6px
    }
}

.style_section_with_title___Q630 .style_container__S1rgE {
    padding: 100px 0;
    gap: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 58px
}

.style_section_with_title___Q630 .style_container__S1rgE .style_img__Jcbos {
    width: 52% !important;
    position: relative
}

.style_section_with_title___Q630 .style_container__S1rgE .style_img__Jcbos .style_img_1__i_P_V {
    width: 100%;
    transform: unset !important;
    height: auto
}

.style_section_with_title___Q630 .style_container__S1rgE .style_img__Jcbos .style_sticker__7Oz5b {
    position: absolute;
    width: 200px;
    top: 0;
    transform: translate(-100%, -50%) rotate(-10deg)
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 {
    width: 35%
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 h3 {
    color: #fff;
    font-family: Pangea_bold, sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 h3 {
        font-size: 28px;
        line-height: 30.8px
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 h3 {
        font-size: 22px;
        line-height: 28.6px
    }
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 p {
    margin-top: 16px;
    color: #fff;
    font-family: Inter-Regular, sans-serif;
    opacity: .8
}

@media screen and (min-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 p {
        font-size: 16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 p {
        font-size: 16px;
        line-height: 24px
    }
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 {
    margin-top: 40px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease;
    padding: 0 24px;
    background-color: #8BC53F
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_text__Yt1_d {
    transition: color .25s ease
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz {
    margin-right: 8px;
    transition: transform .5s ease
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_rd__oXfC5 {
    transition: fill .25s ease
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_st_1__c1VCl,
.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_st_2__CXISv {
    transition: stroke .25s ease
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz {
    height: 20px
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_text__Yt1_d {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold, sans-serif;
    font-size: 14px;
    line-height: 18.2px
}

@media screen and (min-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 {
        height: 50px
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 {
        height: 40px
    }
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_text__Yt1_d {
    color: #101010
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_rd__oXfC5 {
    fill: #101010
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_st_1__c1VCl,
.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 .style_btn_arrow__laUkz .style_btn_arrow_st_2__CXISv {
    stroke: #fff
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7:hover {
    background-color: #101010
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7:hover .style_btn_text__Yt1_d {
    color: #fff
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7:hover .style_btn_arrow__laUkz .style_btn_arrow_rd__oXfC5 {
    fill: #8BC53F
}

.style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7:hover .style_btn_arrow__laUkz {
    transition: transform .5s cubic-bezier(.33, 3.2, .515, 1);
    transform: rotate(-35deg)
}

@media screen and (max-width: 1200px) {
    .style_section_with_title___Q630 .style_wrapper__wabmw .style_container__S1rgE {
        padding: 80px 25px;
        flex-direction: column;
        border-radius: 32px;
        width: 70%;
        margin: auto
    }

    .style_section_with_title___Q630 .style_wrapper__wabmw .style_container__S1rgE .style_img__Jcbos {
        width: 100% !important
    }

    .style_section_with_title___Q630 .style_wrapper__wabmw .style_container__S1rgE .style_img__Jcbos .style_img_obj___9JZf {
        width: 80px;
        left: 25px
    }

    .style_section_with_title___Q630 .style_wrapper__wabmw .style_container__S1rgE .style_text__4JJa1 {
        margin-top: 20px
    }

    .style_section_with_title___Q630 .style_wrapper__wabmw .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 {
        width: 100%;
        justify-content: center
    }
}

@media screen and (max-width: 700px) {
    .style_section_with_title___Q630 {
        padding: 70px 0
    }

    .style_section_with_title___Q630 .style_container__S1rgE {
        flex-direction: column;
        border-radius: 32px;
        width: 100% !important;
        gap: 40px;
        padding: 0 !important
    }

    .style_section_with_title___Q630 .style_container__S1rgE .style_img__Jcbos {
        margin-top: 40px;
        width: 100%
    }

    .style_section_with_title___Q630 .style_container__S1rgE .style_img__Jcbos .style_sticker__7Oz5b {
        width: 80px
    }

    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 {
        margin-top: 0 !important;
        padding: 0 !important;
        width: 100%
    }

    .style_section_with_title___Q630 .style_container__S1rgE .style_text__4JJa1 .style_btn__d6ZJ7 {
        width: 100%;
        justify-content: center
    }
}