.style_article_default__7CNTx {
    width: calc(33.3333333333% - 25px);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer
}

.style_article_default__7CNTx .style_img__mS4UL {
    position: relative;
    height: 220px;
    -webkit-clip-path: inset(0 0 0 0 round 32px);
    clip-path: inset(0 0 0 0 round 32px)
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 32px
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV span {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #fff
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV.style_style_1__FWByY {
    background-color: #b486ff
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV.style_style_2__K_wtT {
    background-color: #201c16
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV.style_style_3__8D6Ao {
    background-color: #75cbf0
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV.style_style_4__UMEKq {
    background-color: #88e2a6
}

.style_article_default__7CNTx .style_img__mS4UL .style_tag__awjcV.style_style_5__pCAA0 {
    background-color: #75cbf0
}

.style_article_default__7CNTx .style_img__mS4UL img {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .5s cubic-bezier(.365,.005,0,1)
}

.style_article_default__7CNTx .style_text__YP2IO {
    margin-top: 16px;
    display: flex;
    flex-direction: column
}

.style_article_default__7CNTx .style_text__YP2IO a {
    text-decoration: none
}

.style_article_default__7CNTx .style_text__YP2IO h3.style_article_title__gBS3L {
    color: #101010;
    font-family: Pangea_bold,sans-serif;
    transition: color .25s ease
}

@media screen and (min-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO h3.style_article_title__gBS3L {
        font-size:22px;
        line-height: 24.2px
    }
}

@media screen and (max-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO h3.style_article_title__gBS3L {
        font-size:18px;
        line-height: 23.4px
    }
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa {
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_pp__fI3Pq {
    width: 24px;
    height: 24px
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_pp__fI3Pq img {
    background-color: #cdced0;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa .style_author__v5_NS {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    color: #07503e
}

.style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa time {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa time {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO .style_infos__Zxxaa time {
        font-size:14px;
        line-height: 21px
    }
}

.style_article_default__7CNTx .style_text__YP2IO p {
    margin-bottom: 16px;
    margin-top: 16px;
    color: #434649;
    font-family: Inter-Regular,sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden
}

@media screen and (min-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO p {
        font-size:16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_article_default__7CNTx .style_text__YP2IO p {
        font-size:16px;
        line-height: 24px
    }
}

.style_article_default__7CNTx .style_text__YP2IO .style_container_tags__jGLOu {
    margin-top: auto;
    display: flex;
    gap: 72px
}

.style_article_default__7CNTx .style_text__YP2IO .style_container_tags__jGLOu .style_tag__awjcV {
    padding: 4px 8px;
    border: 1px solid #cdced0;
    border-radius: 32px
}

.style_article_default__7CNTx .style_text__YP2IO .style_container_tags__jGLOu .style_tag__awjcV span {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #888c8f
}

.style_article_default__7CNTx:hover .style_img__mS4UL img {
    transform: scale(1.05)
}

.style_article_default__7CNTx:hover .style_text__YP2IO .style_article_title__gBS3L {
    color: #07503e
}

.style_article_default__7CNTx.style_style_big___qaQ7 {
    width: 48%
}

.style_article_default__7CNTx.style_style_big___qaQ7 .style_img__mS4UL {
    height: 342px
}

@media screen and (max-width: 700px) {
    .style_article_default__7CNTx,.style_article_default__7CNTx.style_style_big___qaQ7 {
        width:100%
    }

    .style_article_default__7CNTx.style_style_big___qaQ7 .style_img__mS4UL {
        height: 220px
    }
}

.style_article_heroblogmain__T0PK_ {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none
}

.style_article_heroblogmain__T0PK_ .style_img__mS4UL {
    width: calc(((64px * 6) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (6 - 1))) + calc(0 * calc(40px * 11/12)));
    height: 370px;
    -webkit-clip-path: inset(0 0 0 0 round 48px);
    clip-path: inset(0 0 0 0 round 48px)
}

.style_article_heroblogmain__T0PK_ .style_img__mS4UL img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .5s cubic-bezier(.365,.005,0,1)
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO {
    flex: 1 1;
    padding-left: 64px
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO a {
    text-decoration: none
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO h2.style_article_title__gBS3L {
    color: #101010;
    font-family: Pangea_bold,sans-serif;
    transition: color .25s ease
}

@media screen and (min-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO h2.style_article_title__gBS3L {
        font-size:28px;
        line-height: 30.8px
    }
}

@media screen and (max-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO h2.style_article_title__gBS3L {
        font-size:22px;
        line-height: 28.6px
    }
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 4px
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_pp__fI3Pq {
    width: 24px;
    height: 24px
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_pp__fI3Pq img {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: #cdced0
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa .style_author__v5_NS {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    color: #07503e
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa time {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa time {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_infos__Zxxaa time {
        font-size:14px;
        line-height: 21px
    }
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO p {
    margin-top: 16px;
    color: #434649;
    font-family: Inter-Regular,sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}

@media screen and (min-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO p {
        font-size:18px;
        line-height: 27px
    }
}

@media screen and (max-width: 700px) {
    .style_article_heroblogmain__T0PK_ .style_text__YP2IO p {
        font-size:18px;
        line-height: 27px
    }
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_container_tags__jGLOu {
    margin-top: 16px;
    display: flex
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_container_tags__jGLOu .style_tag__awjcV {
    padding: 4px 8px;
    border: 1px solid rgba(67,70,73,.64);
    border-radius: 32px
}

.style_article_heroblogmain__T0PK_ .style_text__YP2IO .style_container_tags__jGLOu .style_tag__awjcV span {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #434649
}

.style_article_heroblogmain__T0PK_:hover .style_img__mS4UL img {
    transform: scale(1.05)
}

.style_article_heroblogmain__T0PK_:hover .style_text__YP2IO .style_article_title__gBS3L {
    color: #07503e
}

@media screen and (max-width: 700px) {
    .style_article_heroblogmain__T0PK_ {
        flex-direction:column
    }

    .style_article_heroblogmain__T0PK_ .style_img__mS4UL {
        width: 100%;
        height: 220px;
        -webkit-clip-path: inset(0 0 0 0 round 32px);
        clip-path: inset(0 0 0 0 round 32px)
    }

    .style_article_heroblogmain__T0PK_ .style_text__YP2IO {
        margin-top: 16px;
        flex: initial;
        padding-left: 0
    }
}

.style_container_resource__dxvEI {
    flex: 1 1;
    cursor: pointer
}

.style_container_resource__dxvEI .style_img__mS4UL {
    height: 328px;
    -webkit-clip-path: inset(0 0 0 0 round 32px);
    clip-path: inset(0 0 0 0 round 32px)
}

.style_container_resource__dxvEI .style_img__mS4UL img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .5s cubic-bezier(.365,.005,0,1)
}

.style_container_resource__dxvEI h3.style_article_title__gBS3L {
    margin-top: 24px;
    transition: color .25s ease
}

.style_container_resource__dxvEI h3.style_article_title__gBS3L a {
    color: #101010;
    font-family: Pangea_bold,sans-serif;
    text-decoration: none
}

@media screen and (min-width: 700px) {
    .style_container_resource__dxvEI h3.style_article_title__gBS3L a {
        font-size:28px;
        line-height: 30.8px
    }
}

@media screen and (max-width: 700px) {
    .style_container_resource__dxvEI h3.style_article_title__gBS3L a {
        font-size:22px;
        line-height: 28.6px
    }
}

.style_container_resource__dxvEI .style_infos__Zxxaa {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 4px
}

.style_container_resource__dxvEI .style_infos__Zxxaa .style_pp__fI3Pq {
    width: 24px;
    height: 24px
}

.style_container_resource__dxvEI .style_infos__Zxxaa .style_pp__fI3Pq img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    -o-object-fit: cover;
    object-fit: cover
}

.style_container_resource__dxvEI .style_infos__Zxxaa .style_pre__ULujp {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_container_resource__dxvEI .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_container_resource__dxvEI .style_infos__Zxxaa .style_pre__ULujp {
        font-size:14px;
        line-height: 21px
    }
}

.style_container_resource__dxvEI .style_infos__Zxxaa .style_author__v5_NS {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    color: #07503e
}

.style_container_resource__dxvEI .style_infos__Zxxaa .style_time__LBjeV {
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_container_resource__dxvEI .style_infos__Zxxaa .style_time__LBjeV {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_container_resource__dxvEI .style_infos__Zxxaa .style_time__LBjeV {
        font-size:14px;
        line-height: 21px
    }
}

.style_container_resource__dxvEI .style_container_tags__jGLOu {
    margin-top: 16px;
    display: flex;
    gap: 8px
}

.style_container_resource__dxvEI .style_container_tags__jGLOu .style_tag__awjcV {
    padding: 4px 8px;
    border: 1px solid #cdced0;
    border-radius: 32px
}

.style_container_resource__dxvEI .style_container_tags__jGLOu .style_tag__awjcV span {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #888c8f
}

.style_container_resource__dxvEI:hover .style_img__mS4UL img {
    transform: scale(1.65)
}

.style_container_resource__dxvEI:hover .style_article_title__gBS3L {
    color: #07503e
}

@media screen and (max-width: 700px) {
    .style_container_resource__dxvEI .style_img__mS4UL {
        height:220px
    }
}

@font-face {
    font-family: Pangea_bold;
    src: url(/fonts/Pangea-Bold.woff2) format("woff2"),url(/fonts/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(/fonts/Pangea-SemiBold.woff2) format("woff2"),url(/fonts/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(/fonts/Pangea-Regular.woff2) format("woff2"),url(/fonts/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(/fonts/Inter-Bold.woff2) format("woff2"),url(/fonts/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(/fonts/Inter-Regular.woff2) format("woff2"),url(/fonts/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.style_section_morearticle__nTnKX {
    margin-top: 120px
}

.style_section_morearticle__nTnKX h2 {
    color: #101010;
    font-family: Pangea_bold,sans-serif;
    text-align: center;
    max-width: 615px;
    margin: 0 auto 64px
}

@media screen and (min-width: 1200px) {
    .style_section_morearticle__nTnKX h2 {
        width:calc(((64px * 12) + ((calc(calc(40px * 11/12) * 11/12) * 12/(12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11/12)))
    }
}

@media screen and (min-width: 700px)and (max-width:1200px) {
    .style_section_morearticle__nTnKX h2 {
        width:calc(100% - 100px)
    }
}

@media screen and (max-width: 700px) {
    .style_section_morearticle__nTnKX h2 {
        width:calc(100% - 50px)
    }
}

@media screen and (min-width: 700px) {
    .style_section_morearticle__nTnKX h2 {
        font-size:42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_morearticle__nTnKX h2 {
        font-size:26px;
        line-height: 28.6px
    }
}

.style_section_morearticle__nTnKX h2 em {
    white-space: pre;
    display: inline-block;
    position: relative;
    color: #fff
}

.style_section_morearticle__nTnKX h2 em svg {
    fill: #101010;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 10px);
    height: 100%
}

.style_section_morearticle__nTnKX h2 em span {
    position: relative;
    z-index: 1
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O {
    overflow: auto;
    padding-left: calc((100vw - 1196px)/2);
    padding-right: calc((100vw - 1196px)/2);
    scroll-padding-left: calc((100vw - 1196px)/2);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 40px
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz article {
    scroll-snap-align: start
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ {
    scroll-snap-align: start;
    width: 344px
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_img__DYYu3 img {
    width: 100%
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g {
    margin-top: 23px
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g h3 {
    color: #101010;
    font-family: Pangea_bold,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g h3 {
        font-size:22px;
        line-height: 24.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g h3 {
        font-size:18px;
        line-height: 23.4px
    }
}

.style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g p {
    margin-top: 8px;
    color: #434649;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g p {
        font-size:16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz .style_feature__jzBaZ .style_text__NDF3g p {
        font-size:16px;
        line-height: 24px
    }
}

.style_section_morearticle__nTnKX .style_container_nav__kCRoS {
    display: none
}

@media screen and (max-width: 700px) {
    .style_section_morearticle__nTnKX h2 {
        text-align:left;
        margin-bottom: 40px
    }

    .style_section_morearticle__nTnKX .style_container_articles__T_g4O {
        padding-left: 25px;
        padding-right: 25px;
        scroll-padding-left: 25px
    }

    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz {
        gap: 16px
    }

    .style_section_morearticle__nTnKX .style_container_articles__T_g4O .style_slider_article__Q2Fgz a {
        width: calc(100vw - 50px)
    }
}
