@font-face {
    font-family: Pangea_bold;
    src: url(/fonts/Pangea-Bold.woff2) format("woff2"),url(/fonts/Pangea-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_SemiBold;
    src: url(/fonts/Pangea-SemiBold.woff2) format("woff2"),url(/fonts/Pangea-SemiBold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pangea_Regular;
    src: url(/fonts/Pangea-Regular.woff2) format("woff2"),url(/fonts/Pangea-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Inter-Bold;
    src: url(/fonts/Inter-Bold.woff2) format("woff2"),url(/fonts/Inter-Bold.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: Inter-Regular;
    src: url(/fonts/Inter-Regular.woff2) format("woff2"),url(/fonts/Inter-Regular.ttf) format("truetype");
    font-display: swap
}

.style_section_pres__QlPbK {
    position: relative;
    padding: 120px 0;
    background-color: #101010
}

.style_section_pres__QlPbK .style_obj_1__gl2gv {
    position: absolute;
    top: -109px;
    right: 5%;
    width: 200px
}

.style_section_pres__QlPbK .style_wrapper__RzUVS {
    margin-right: auto;
    margin-left: auto
}

@media screen and (min-width: 1200px) {
    .style_section_pres__QlPbK .style_wrapper__RzUVS {
        width:calc(((64px * 12) + ((calc(calc(40px * 11 / 12) * 11 / 12) * 12 / (12 - 1)) * (12 - 1))) + calc(0 * calc(40px * 11 / 12)))
    }
}

@media screen and (min-width: 700px)and (max-width:1200px) {
    .style_section_pres__QlPbK .style_wrapper__RzUVS {
        width:calc(100% - 100px)
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_wrapper__RzUVS {
        width:calc(100% - 50px)
    }
}

.style_section_pres__QlPbK .style_container_text__A40jm {
    max-width: 792px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.style_section_pres__QlPbK .style_container_text__A40jm h2 {
    color: #fff;
    font-family: Pangea_bold,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_pres__QlPbK .style_container_text__A40jm h2 {
        font-size:42px;
        line-height: 46.2px
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_container_text__A40jm h2 {
        font-size:26px;
        line-height: 28.6px
    }
}

.style_section_pres__QlPbK .style_container_text__A40jm h2 em {
    display: inline-block;
    position: relative;
    color: #101010;
    white-space: pre
}

.style_section_pres__QlPbK .style_container_text__A40jm h2 em svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 0px);
    height: calc(100% + 4px);
    fill: #fff
}

.style_section_pres__QlPbK .style_container_text__A40jm h2 em span {
    position: relative
}

.style_section_pres__QlPbK .style_container_text__A40jm p {
    max-width: 567px;
    margin: auto;
    color: #f2f2f2;
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_pres__QlPbK .style_container_text__A40jm p {
        font-size:16px;
        line-height: 24px
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_container_text__A40jm p {
        font-size:16px;
        line-height: 24px
    }
}

.style_section_pres__QlPbK .style_container_el__xlEPE {
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo {
    width: 200px
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_img__SjHJP {
    width: 100%;
    height: 234px;
    border-radius: 50% 50% 6px 6px;
    border: 5px solid transparent;
    overflow: hidden
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_img__SjHJP img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns {
    margin-top: 36px
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns h3 {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    color: #fff
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns p {
    margin-top: 3px;
    color: hsla(0,0%,100%,.8);
    font-family: Inter-Regular,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns p {
        font-size:14px;
        line-height: 21px
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns p {
        font-size:14px;
        line-height: 21px
    }
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo:first-child .style_img__SjHJP {
    border-color: #2fce65
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo:nth-child(2) .style_img__SjHJP {
    border-color: #7696f3
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo:nth-child(3) .style_img__SjHJP {
    border-color: #b486ff
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo:nth-child(4) .style_img__SjHJP {
    border-color: #fc8af7
}

.style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo:nth-child(5) .style_img__SjHJP {
    border-color: #201c16
}

.style_section_pres__QlPbK .style_container_demo__17v_p {
    margin-top: 42px;
    display: flex;
    justify-content: center
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm {
    border: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    padding: 60px 84px;
    border-radius: 40px;
    gap: 42px
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm h3 {
    color: #fff;
    font-family: Pangea_bold,sans-serif
}

@media screen and (min-width: 700px) {
    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm h3 {
        font-size:28px;
        line-height: 30.8px
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm h3 {
        font-size:22px;
        line-height: 28.6px
    }
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur {
    text-decoration: none;
    border: none;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease,border-color .25s ease;
    padding: 0 24px;
    background-color: #2fce65
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_text__yRo2f {
    transition: color .25s ease
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 {
    margin-right: 8px;
    transition: transform .5s ease
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_rd__wgT3i {
    transition: fill .25s ease
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_st_1__lRAIf,.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_st_2__MZE_2 {
    transition: stroke .25s ease
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 {
    height: 20px
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_text__yRo2f {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: Inter-Bold,sans-serif;
    font-size: 16px;
    line-height: 20.8px
}

@media screen and (min-width: 700px) {
    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur {
        height:60px
    }
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur {
        height:50px
    }
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_text__yRo2f {
    color: #101010
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_rd__wgT3i {
    fill: #101010
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_st_1__lRAIf,.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur .style_btn_arrow__O4Tb2 .style_btn_arrow_st_2__MZE_2 {
    stroke: #fff
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur:hover {
    background-color: #101010
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur:hover .style_btn_text__yRo2f {
    color: #fff
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur:hover .style_btn_arrow__O4Tb2 .style_btn_arrow_rd__wgT3i {
    fill: #2fce65
}

.style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur:hover .style_btn_arrow__O4Tb2 {
    transition: transform .5s cubic-bezier(.33,3.2,.515,1);
    transform: rotate(-35deg)
}

@media screen and (max-width: 700px) {
    .style_section_pres__QlPbK {
        padding:72px 0
    }

    .style_section_pres__QlPbK .style_obj_1__gl2gv {
        width: 100px;
        top: -60px
    }

    .style_section_pres__QlPbK .style_container_text__A40jm {
        text-align: left
    }

    .style_section_pres__QlPbK .style_container_el__xlEPE {
        flex-direction: column;
        gap: 32px;
        margin-top: 44px
    }

    .style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo {
        width: 100%;
        display: flex;
        align-items: center
    }

    .style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_img__SjHJP {
        margin-right: 20px;
        width: 97px;
        height: 113px;
        border-width: 3px
    }

    .style_section_pres__QlPbK .style_container_el__xlEPE .style_el__joAbo .style_text__JSUns {
        flex: 1 1;
        margin-top: 0
    }

    .style_section_pres__QlPbK .style_container_demo__17v_p {
        margin-top: 40px
    }

    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm {
        width: 100%;
        padding: 24px;
        gap: 16px;
        flex-direction: column
    }

    .style_section_pres__QlPbK .style_container_demo__17v_p .style_content__p7rYm .style_btn__WjBur {
        width: 100%;
        justify-content: center
    }
}
